body {
    margin: 0;
    overflow: hidden;
    background-color: #87CEEB;
}

#gameCanvas {
    display: block;
    background-color: #87CEEB;
}

#scoreboard {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: #fff;
}
