body {
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

canvas {
    border: 1px solid black;
}

#score, #hearts {
    font-size: 24px;
    margin: 10px;
}
